<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Api.Gax" version="4.12.1" />
  <package id="Google.Api.Gax.Rest" version="4.12.1" />
  <package id="Google.Apis" version="1.72.0" />
  <package id="Google.Apis.Auth" version="1.72.0" />
  <package id="Google.Apis.Core" version="1.72.0" />
  <package id="Google.Apis.Storage.v1" version="1.71.0.3920" />
  <package id="Google.Cloud.Storage.V1" version="4.14.0" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" />
  <package id="NLog" version="6.0.7" manuallyInstalled="true" />
  <package id="Newtonsoft.Json" version="13.0.4" manuallyInstalled="true" />
  <package id="Pipelines.Sockets.Unofficial" version="2.2.8" />
  <package id="QRCoder" version="1.7.0" manuallyInstalled="true" />
  <package id="StackExchange.Redis" version="2.10.1" manuallyInstalled="true" />
  <package id="System.CodeDom" version="7.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.2" />
  <package id="System.Drawing.Common" version="5.0.3" />
  <package id="System.IO.Pipelines" version="5.0.1" />
  <package id="System.Management" version="7.0.2" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" />
  <package id="System.Threading.Channels" version="5.0.0" />
</packages>