<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="Assembly-CSharp" />
  </extensions>

  <targets>
    <!-- Unity 콘솔 출력용 커스텀 타겟 -->
    <target xsi:type="myLog" name="unityLog" layout="${date} | ${message}" />

    <!-- Info 레벨 이하 파일 타겟 -->
    <target xsi:type="File"
            name="infoLog"
            fileName="${var:pathVar}/NLogs/log_${shortdate}.txt"
            layout="${date} | ${level:uppercase=true} | ${message}"
            keepFileOpen="false"
            encoding="utf-8"
            archiveAboveSize="10485760"
            archiveEvery="Day"
            maxArchiveFiles="365"
            concurrentWrites="true" />

    <!-- Warn 레벨 이상 파일 로그 타겟 -->
    <target xsi:type="File"
            name="warnLog"
            fileName="${var:pathVar}/NLogs/log_${shortdate}.txt"
            layout="${newline}${date} | ${level:uppercase=true} | ${message} ${newline}-${newline} ${stacktrace}${newline}"
            keepFileOpen="false"
            encoding="utf-8"
            archiveAboveSize="10485760"
            archiveEvery="Day"
            maxArchiveFiles="365"
            concurrentWrites="true" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Info" writeTo="unityLog,infoLog" />

    <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="unityLog,warnLog" />
  </rules>

</nlog>